<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %} | 选课评分系统</title>
    <link href="//fonts.css.network//icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/custom.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//imlonghao.com/static/analytics.js','ga');
        ga('create', 'UA-62296702-2', 'auto');
        ga('send', 'pageview', location.pathname + location.search)
    </script>
</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">选课评分系统</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li{% if location == 'index' %} class="active"{% end %}><a href="/">首页</a></li>
            <li{% if location == 'course' %} class="active"{% end %}><a href="/course">课程</a></li>
            <li{% if location == 'about' %} class="active"{% end %}><a href="/about">关于我们</a></li>
            <li><a href="https://github.com/imlonghao/gdut-elective-comments">Github</a></li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        {% block main %}{% end %}
    </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">选课评分系统</h5>
                <p class="grey-text text-lighten-4">广东工业大学出品</p>
            </div>
            <div class="col l2 offset-l4 s12">
                <h5 class="white-text">友情链接</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 imlonghao
        </div>
    </div>
</footer>
<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>
</body>
</html>