{% extends base.html %}
{% block title %}课程列表{% end %}
{% block main %}
<table id="course" class="centered highlight bordered responsive-table"></table>
<ul class="pagination center">
    <li class="disabled lastPage1"><a><i class="material-icons">chevron_left</i></a></li>
    <li class="active coursePage"><a>1</a></li>
    <li class="waves-effect coursePage"><a>2</a></li>
    <li class="waves-effect coursePage"><a>3</a></li>
    <li class="waves-effect coursePage"><a>4</a></li>
    <li class="waves-effect coursePage"><a>5</a></li>
    <li class="waves-effect coursePage"><a>6</a></li>
    <li class="waves-effect coursePage"><a>7</a></li>
    <li class="waves-effect coursePage"><a>8</a></li>
    <li class="waves-effect coursePage"><a>9</a></li>
    <li class="waves-effect nextPage1"><a><i class="material-icons">chevron_right</i></a></li>
</ul>
{% end %}